<div class="space-y-6">
  <!-- Room Image Section -->
  <section>
    <img
      [src]="'assets/images/' + room().image"
      alt="Room Image"
      class="rounded-lg shadow w-full object-cover"
    />
  </section>

  <div class="border rounded-lg shadow p-4 bg-white">
    <!-- Room Name -->
    <h2 class="text-lg font-bold text-gray-900">{{ room().name }}</h2>

    <!-- Address -->
    <p class="text-sm text-gray-600 mb-2">
      {{ room().address }}
    </p>

    <!-- Review Score -->
    <div class="flex items-center space-x-2 mb-2">
      <div class="bg-blue-500 text-white px-2 py-1 rounded text-sm font-bold">
        {{ room().rating }}
      </div>
      <span class="text-gray-900 font-semibold">{{
        roomDetailsService.getRatingDescription(room().rating)
      }}</span>
    </div>

    <!-- Amenities -->
    <ul class="flex flex-wrap items-center gap-2 text-sm text-gray-700 list-none">
      @for (amenity of room().amenities; track $index) {
      <li >{{ amenity }}</li>
      }
    </ul>
  </div>

  <!-- Booking Summary Section -->
  <section class="mt-6 border rounded-lg shadow p-4 bg-white">
    <h2 class="text-lg font-semibold mb-4">Інформація про ваше бронювання</h2>

    <!-- Check-in and Check-out Information -->
    <div class="grid grid-cols-2 gap-4 text-sm text-gray-700">
      <div>
        <div class="font-semibold">Реєстрація заїзду</div>
        <div>{{ checkInDate() | customDate  }}</div>
      </div>
      <div>
        <div class="font-semibold">Реєстрація виїзду</div>
        <div>{{ checkOutDate() | customDate }}</div>
      </div>
    </div>

    <!-- Stay Duration -->
    <div class="mt-4">
      <div class="text-sm text-gray-700">
        Загальний термін перебування:
        <span class="font-semibold">{{ daysCount() }} ночей</span>
      </div>
    </div>

    <!-- Room and Guests -->
    <div class="mt-4 border-t pt-4 text-sm text-gray-700">
      <div>
        Ви вибрали:
        <span class="font-semibold"
          >номер для {{ amountOfPeople() }} {{ formattedPeopleWord() }}</span
        >
      </div>
    </div>
  </section>

  <!-- Total Price Section -->
  <section class="mt-6 bg-blue-50 border border-blue-500 rounded-lg p-4 shadow">
    <div class="text-sm text-green-600">
      Початкова ціна за ніч: ₴{{ room().pricePerNight }}
    </div>
    <div class="text-lg font-semibold text-blue-800">
      Кінцева ціна: ₴{{ totalPrice() }}
    </div>
    <div class="text-sm text-gray-600">
      (Розраховано на основі вибраних {{ daysCount() }} ночей)
    </div>
  </section>
</div>
