<div>
  <h1 class="text-2xl font-bold mb-6 text-center">Підтвердження бронювання</h1>

  <!-- Додали formGroup до обгортки -->
  <form [formGroup]="bookingForm" (ngSubmit)="submit()" class="space-y-4">
    <!-- Перемикач для вибору -->
    <mat-radio-group
      [formControl]="bookingTypeControl"
      class="flex items-center justify-center flex-col md:flex-row gap-4 mb-6"
    >
      <mat-radio-button value="self">Бронюю самостійно</mat-radio-button>
      <mat-radio-button value="agency">Через турагентство</mat-radio-button>
    </mat-radio-group>

    <!-- Поля для варіанта "Через турагентство" -->
    @if(bookingTypeControl.value === 'agency'){
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Назва турагенції</mat-label>
      <input
        matInput
        [formControl]="agencyNameControl"
        placeholder="Введіть назву турагенції"
      />
      <mat-error *ngIf="bookingForm.get('agencyName')?.hasError('required')">
        Назва турагенції є обов'язковою.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>ПІБ агента</mat-label>
      <input
        matInput
        [formControl]="agentNameControl"
        placeholder="Введіть ПІБ агента"
      />
      <mat-error *ngIf="bookingForm.get('agentName')?.hasError('required')">
        ПІБ агента є обов'язковим.
      </mat-error>
    </mat-form-field>
    }

    <!-- Поля для варіанта "Бронюю самостійно" -->
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>ПІБ</mat-label>
      <input
        matInput
        [formControl]="fullNameControl"
        placeholder="Введіть ваше повне ім'я"
      />
      <mat-error *ngIf="bookingForm.get('fullName')?.hasError('required')">
        ПІБ є обов'язковим.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Ел. пошта</mat-label>
      <input
        matInput
        placeholder="Введіть вашу електронну пошту"
        [formControl]="emailControl"
        required
        type="email"
      />
      <mat-error *ngIf="bookingForm.get('email')?.hasError('required')">
        Ел. пошта є обов'язковою.
      </mat-error>
      <mat-error *ngIf="bookingForm.get('email')?.hasError('email')">
        Введіть коректну адресу.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Номер телефону</mat-label>
      <input
        matInput
        [formControl]="phoneControl"
        placeholder="Введіть ваш номер телефону"
        type="number"
      />
      <mat-error *ngIf="bookingForm.get('phone')?.hasError('required')">
        Номер телефону є обов'язковим.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Ваші побажання</mat-label>
      <textarea
        matInput
        [formControl]="notesControl"
        placeholder="Напишіть ваші побажання"
        rows="4"
      ></textarea>
    </mat-form-field>

    <!-- Опції харчування -->
    @if(bookingTypeControl.value === 'agency'){
    <div>
      <label class="block">Виберіть варіант харчування:</label>
      <mat-radio-group formControlName="mealOption">
        <mat-radio-button value="breakfast-lunch"
          >Сніданок-обід</mat-radio-button
        >
        <mat-radio-button value="lunch-dinner">Обід-вечеря</mat-radio-button>
        <mat-radio-button value="breakfast-dinner"
          >Сніданок-вечеря</mat-radio-button
        >
      </mat-radio-group>
    </div>
    }

    <!-- Кнопка підтвердження -->
    <button
      mat-raised-button
      color="primary"
      [disabled]="bookingForm.invalid"
      class="w-full"
    >
      Підтвердити бронювання
    </button>
  </form>
</div>
