<div class="card border rounded-lg shadow-lg p-6 bg-white">
  <!-- Зображення -->
  <div class="relative">
    <img
      [src]="'assets/images/' + room().image"
      alt="{{ room().name }}"
      class="w-full h-64 object-cover rounded-lg"
    />
    <!-- <div
      *ngIf="!room().availability"
      class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center rounded-lg text-white text-xl font-bold"
    >
      Недоступно
    </div> -->
  </div>

  <h2 class="text-xl font-bold mt-4 text-gray-800">{{ room().name }}</h2>

  <p class="text-gray-600 text-sm mt-2">{{ room().description }}</p>

  <div class="mt-4 flex items-center">
    <span class="text-green-600 font-bold text-xl"
      >₴{{ room().pricePerNight }}</span
    >
    <span class="text-gray-500 text-sm ml-2">/ ніч</span>
  </div>

  <div class="text-sm text-gray-700 mt-2 flex items-center gap-2">
    <mat-icon color="primary">group</mat-icon>
    <span
      >Максимальна кількість гостей: <b>{{ room().maxGuests }}</b></span
    >
  </div>

  <div class="text-sm text-gray-700 mt-2">
    <span class="font-semibold">Зручності:</span>
    <span
      *ngFor="let amenity of room().amenities; let last = last"
      class="text-gray-600"
    >
      {{ amenity }}<span *ngIf="!last">,</span>
    </span>
  </div>

  @if(searchService.selectedDatesRange().length > 0) {
  <div class="mt-6">
    <button
      mat-raised-button
      class="w-full"
      (click)="rentRoom()"
    >
      {{ "Забронювати"  }}
    </button>
  </div>

  }

</div>
