<div
  class="grid grid-cols-1 md:grid-cols-2 gap-6 p-6 max-w-6xl mx-auto bg-white shadow-lg rounded-lg"
>
  <!-- Left Section: Room Details -->
  @if(room()){

  <app-room-details
    [room]="room()"
    [daysCount]="selectedDatesRangeCount()"
    [checkInDate]="checkInDate()"
    [checkOutDate]="checkOutDate()"
    [amountOfPeople]="amountOfPeople()"
  ></app-room-details>
  }

  <!-- Right Section: Booking Form -->
  <app-booking-form (formSubmit)="onSubmit($event)"></app-booking-form>
</div>
